<!doctype html>
<html lang="en">
    <head>    

        <title>
            {{ page.title }}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.18/default/snipcart.css" />
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <link rel="icon" type="image/png" href="{{ site.favicon | relative_url }}">
        
    </head>
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.css" />
<script async src="https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="N2E2MzJmYzAtYTE5ZS00MTdlLWIzZmUtYmRkYTc5MjE4NmZkNjM3NTI4NzQ5MzE5NTA1MDc0" hidden></div>
    <body class="{{ page.layout }}-template palette-{{ site.palette }}">
        
        {{ content }}
        <script src="{{ 'js/lib/modernizr.js' | relative_url }}"></script>
        <script src="{{ 'js/main.js' | relative_url }}"></script>
        <script src="{{ 'js/page_load.js' | relative_url }}"></script>
    </body> 
</html>
